/*#region ----------------- Alert */
.alert {
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right-width: 4px;
  border-radius: 0;
  color: $textDark;
  font-weight: 400;
  font-size: 14px;
  &.alert-danger {
    background: rgba($color: $error, $alpha: 0.2);
    border-color: $error;
  }
  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .alert {
    p {
      font-size: 13px;
      line-height: 20px;
    }
  }
}
/*#endregion -------------- Alert */
