/*#region ----------------- Banners */
.banner-section {
  margin: 70px 0;
  .img-container {
    margin: 10px 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

/*#endregion -------------- Banners */
