/*#region ----------------- Modal Styles */
.modal-content {
  border-radius: 0;
  border: none;
}
.modal-title {
  display: flex;
  color: $textDark;
  font-size: 18px;
  font-weight: 600;
  .fi {
    margin-left: 10px;
    position: relative;
    top: 2px;
    font-size: 20px;
    color: $textGrey;
  }
}
.modal-header {
  background-color: $background;
  border-radius: 0;
  border-bottom: none;
}
.modal-body {
  .message {
    // font-size: 16px;
    font-weight: 400;
  }
}
/*#endregion -------------- Modal Styles */
