/*#region ----------------- Property */
.property-section {
  margin: 80px 0;
  padding: 80px 0;
  background-color: $primary;
}
.card-property {
  padding: 15px;
  .card-inner {
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
  }
  .thumb {
    background-color: rgba($color: white, $alpha: 0.2);
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .info {
    padding-right: 15px;
    h6 {
      font-size: 18px;
      color: white;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      margin-bottom: 0;
      color: rgba($color: white, $alpha: 0.8);
      text-align: justify;
    }
  }
}

@media (max-width: 768px) {
  .property-section {
    margin: 70px 0;
    padding: 70px 0;
  }
  .card-property {
    .card-inner {
      grid-template-columns: 60px auto;
      align-items: flex-start;
    }
    .thumb {
      width: 60px;
      height: 60px;
    }
    .info {
      h6 {
        font-size: 16px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
/*#endregion -------------- Property */
