/*#region ----------------- Teachers */
.teacher-section {
  margin: 5rem 0;
  .page-title {
    .title-inner {
      justify-content: center;
    }
    h1 {
      color: white;
      &::before {
        display: none;
      }
    }
  }
  .section-inner {
    margin-top: 2rem;
    padding: 30px;

    --s: 220px; /* control the size */
    --c1: rgba(255, 255, 255, 0.1);
    --c2: #007ddf;

    --_g: radial-gradient(
      #0000 60%,
      var(--c1) 61% 63%,
      #0000 64% 77%,
      var(--c1) 78% 80%,
      #0000 81%
    );
    --_c: , #0000 75%, var(--c2) 0;
    background: conic-gradient(at 12% 20% var(--_c)) calc(var(--s) * 0.44)
        calc(0.9 * var(--s)),
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s) * -0.06)
        calc(0.4 * var(--s)),
      conic-gradient(at 20% 12% var(--_c)) calc(0.9 * var(--s))
        calc(var(--s) * 0.44),
      conic-gradient(at 20% 12% var(--_c)) calc(0.4 * var(--s))
        calc(var(--s) * -0.06),
      var(--_g), var(--_g) calc(var(--s) / 2) calc(var(--s) / 2) var(--c2);
    background-size: var(--s) var(--s);
  }
  .teachers-list {
    margin-top: 3.5rem;
    @include displayFlex(flex, center, center);
    flex-wrap: wrap;
    .card-teacher {
      flex: 0 0 16.66%;
      width: 16.66%;
    }
  }
  .button-group {
    text-align: center;
    margin-top: 2rem;
    .btn-primary {
      background-color: white;
      color: $primary;
    }
  }
}

.card-teacher {
  padding: 5px;
  .card-inner {
    background-color: rgba($color: white, $alpha: 0.2);
    border-radius: 10px;
    padding: 15px 15px 20px 15px;
    text-align: center;
    display: block;
    &:hover {
      background-color: white;
      .user-image {
        top: -5px;
      }
      .info {
        .name {
          color: $textDark;
        }
        .job {
          color: $textGrey;
        }
      }
    }
  }
  .user-image {
    width: 85px;
    height: 85px;
    margin: -35px auto 0 auto;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    top: 0;
    box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.4);
    transition: all 0.2s ease-in-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .info {
    margin-top: 15px;
    .name {
      font-size: 14px;
      font-weight: 600;
      color: white;
      margin-bottom: 10px;
      @include textTruncate(1);
    }
    .job {
      font-size: 13px;
      font-weight: 400;
      color: rgba($color: white, $alpha: 0.9);
      margin-bottom: 0;
      @include textTruncate(1);
    }
  }
}

@media (max-width: 1400px) {
  .teacher-section {
    .teachers-list {
      .card-teacher {
        flex: 0 0 33.33%;
        width: 33.33%;
        margin-bottom: 2rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .card-teacher {
    .card-inner {
      padding: 10px 10px 20px 10px;
    }
    .user-image {
      width: 70px;
      height: 70px;
      border-width: 3px;
      margin: -28px auto 0 auto;
    }
    .info {
      margin-top: 10px;
      .name {
        font-size: 13px;
        margin-bottom: 7px;
      }
      .job {
        font-size: 12px;
      }
    }
    .button-group {
      .btn {
        padding: 0.3rem 0.3rem 0.4rem 0.3rem;
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 575px) {
  .teacher-section {
    .teachers-list {
      .card-teacher {
        flex: 0 0 50%;
        width: 50%;
      }
    }
    .section-inner {
      padding: 20px;
    }
    .button-group {
      margin-top: 1rem;
    }
  }
  .card-teacher {
    .card-inner {
      padding: 5px 5px 20px 5px;
      &:hover {
        .button-group {
          .btn .fi {
            right: 5px;
          }
        }
      }
    }
    .user-image {
      margin: -20px auto 0 auto;
    }
    .info {
      margin-top: 8px;
      .name {
        font-size: 11px;
        margin-bottom: 5px;
      }
      .job {
        font-size: 10px;
      }
    }
    .button-group {
      .btn {
        padding: 0.2rem 0.2rem 0.4rem 0.2rem;
        font-size: 10px;
        border-radius: 7px;
        .fi {
          top: 6px;
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .teacher-section {
    .button-group {
      margin-top: 0;
      .btn {
        width: 100%;
      }
    }
  }
}
/*#endregion -------------- Teachers */
